HOST=0.0.0.0
PORT=1337

APP_KEYS=toBeModified1,toBeModified2
ADMIN_JWT_SECRET=toBeModified
API_TOKEN_SALT=toBeModified
JWT_SECRET=toBeModified
TRANSFER_TOKEN_SALT=toBeModified

DATABASE_FILENAME=.tmp/data.db
